@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #0f172a;
    color: #f8fafc;
    margin: 0;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0f172a;
  }
  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}

@layer components {
  .selection\:bg-blue-500\/30 ::selection {
    background-color: rgb(59 130 246 / 0.3);
  }
}
